<form action="/addcause/<%= tv.idtv %>" method="POST">
    <h1>TU AS CASSE LA TELE <%= tv.Marque %> </h1>
    Comment as tu cassé la télé ?
    <input name="Broken" type="text"/> 
    <input type="submit" value="valider">
</form>